<div class="col-span-1 flex h-full bg-white shadow-md rounded animate__animated animate__fadeIn">
    <div class="w-32 h-full">
        <img class="rounded-l object-cover w-full h-full" src="{{ .Params.thumbnail }}"/>
    </div>
    <div class="text-left mb-2 md:mb-6 w-full px-8 py-6">
        <h3 class="font-serif text-xl mb-6">{{ .Title }}</h3>
        <p class="font-sans text-sm text-gray-800 mb-2 md:mb-6 overflow-hidden">Nullam accumsan lorem in dui. Etiam iaculis nunc ac metus. Phasellus tempus. Pellentesque malesuada fames ac turpis egestas.</p>
        <a href="#" class="text-sm text-primaryDarker hover:text-primaryDarkest font-serif">Read More &rarr;</a>
    </div>
</div>