<footer class="font-serif mt-6 w-100 bg-gray-300 h-100 block box-content">
    <div class="flex mx-auto justify-center pt-12 inline-block">
        <a href="https://github.com/CraigChilds94" class="mx-3 p-2 text-gray-700 hover:text-primaryDarkest">Github</a>
        <a href="https://twitter.com/_craigchilds94" class="mx-3 p-2 text-gray-700 hover:text-primaryDarkest">Twitter</a>
        <a href="https://dribbble.com/craigchilds94" class="mx-3 p-2 text-gray-700 hover:text-primaryDarkest">Dribbble</a>
    </div>
    <small class="text-center w-100 block pt-6 pb-12 text-primaryDarkest">Craig Childs &copy; 2020</small>
</footer>