<header class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-wrap px-20 pt-10 flex-col md:flex-row items-center">
        <nav class="flex lg:w-2/5 flex-wrap items-center text-lg md:ml-auto">
            <a class="mx-5 sm:ml-0 hover:text-gray-900 hover:underline" href="/">Home</a>
            <a class="mx-5 sm:ml-0 hover:text-gray-900 hover:underline" href="/projects">Projects</a>
            <a class="mx-5 sm:ml-0 hover:text-gray-900 hover:underline" href="{{ $.Site.Data.socials.medium }}" rel="noopener noreferrer" target="_blank">Articles</a>
        </nav>
        <a
            href="/"
            class="flex order-first lg:order-none lg:w-1/5 title-font font-medium items-center text-gray-900 lg:items-center lg:justify-center mb-4 md:mb-0">
            {{ partial "logo.html" . }}
        </a>
        <div class="lg:w-2/5 inline-flex lg:justify-end sm:ml-5 lg:ml-0">
            <a
                href="/coaching"
                class="inline-flex items-center bg-gray-900 text-xl text-white hover:text-gray-900 border-0 py-1 px-3 focus:outline-none hover:bg-gray-400 rounded mt-4 md:mt-0">Want development coaching?
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
            </a>
        </div>
    </div>
</header>
