<svg width="63" height="49" viewBox="0 0 63 49" fill="none" xmlns="http://www.w3.org/2000/svg">
  <rect x="0.631271" y="24.1254" width="34.1184" height="34.1184" transform="rotate(-45 0.631271 24.1254)"
    fill="#0E191F" />
  <rect x="19.6259" y="24.2127" width="27.1184" height="27.1184" transform="rotate(-45 19.6259 24.2127)" fill="#0E191F"
    stroke="#80DB7E" stroke-width="7" />
  <mask id="mask0_2_7" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="7" y="6" width="36" height="36">
    <rect x="7.87473" y="24.1253" width="24.3075" height="24.3075" transform="rotate(-45 7.87473 24.1253)"
      fill="#4A6B7C" />
  </mask>
  <g mask="url(#mask0_2_7)">
    <rect x="10.7991" y="24.2127" width="34.1184" height="34.1184" transform="rotate(-45 10.7991 24.2127)"
      fill="#4A6B7C" />
  </g>
</svg>

