{{ define "header"}}{{ partial "header" . }}{{ end }}
{{ define "main" }}
    <section class="container mt-24">
        <h1 class="text-center font-serif text-5xl m-auto leading-tight max-w-xl mb-16">Blog</h1>
    </section>
    <div class="container bg-secondaryLightest shadow-sm rounded p-12 mb-12">
        <!--/* <div class="container"> */-->
            <div><small class="text-left font-serif text-secondaryDarkest text-3xl">Latest</small></div>
            <div class="flex flex-1 h-64 bg-white shadow-md my-6 rounded">
                <div class="w-1/2 h-full">
                    <img class="rounded-l object-cover w-full h-full" src="https://placekitten.com/500/500" />
                </div>
                <div class="text-left px-12 py-8">
                    <h3 class="font-serif text-3xl mb-2 md:mb-6">Lorem ipsum dolor sit fame ac turpis</h3>
                    <p class="font-sans text-md text-gray-700 mb-2 md:mb-6 overflow-hidden">Nullam accumsan lorem in dui. Etiam
                        iaculis nunc
                        ac metus. Phasellus tempus. Pellentesque malesuada fames ac turpis egestas.</p>
                    <a href="#" class="text-lg text-secondaryDarker hover:text-secondaryDarkest font-serif">Read More &rarr;</a>
                </div>
            </div>
        <!--/* </div> */-->
    </div>
    <section class="container">
        <div class="mb-24 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 mx-6 gap-6">
            <div class="flex h-64 bg-white shadow-md rounded w-full">
                <div class="w-32 h-full">
                    <img class="rounded-l object-cover w-full h-full" src="https://placekitten.com/300/200" />
                </div>
                <div class="text-left mb-2 md:mb-6 w-full px-8 py-6">
                    <h3 class="font-serif text-xl mb-6">{{ .Title }}</h3>
                    <p class="font-sans text-sm text-gray-700 mb-2 md:mb-6 overflow-hidden">Nullam accumsan lorem in dui. Etiam
                        iaculis nunc ac metus. Phasellus tempus. Pellentesque malesuada fames ac turpis egestas.</p>
                    <a href="#" class="text-sm text-primaryDarker hover:text-primaryDarkest font-serif">Read More &rarr;</a>
                </div>
            </div>
            <div class="flex h-64 bg-white shadow-md rounded w-full">
                <div class="w-32 h-full">
                    <img class="rounded-l object-cover w-full h-full" src="https://placekitten.com/300/200" />
                </div>
                <div class="text-left mb-2 md:mb-6 w-full px-8 py-6">
                    <h3 class="font-serif text-xl mb-6">{{ .Title }}</h3>
                    <p class="font-sans text-sm text-gray-700 mb-2 md:mb-6 overflow-hidden">Nullam accumsan lorem in dui. Etiam
                        iaculis nunc ac metus. Phasellus tempus. Pellentesque malesuada fames ac turpis egestas.</p>
                    <a href="#" class="text-sm text-primaryDarker hover:text-primaryDarkest font-serif">Read More &rarr;</a>
                </div>
            </div>
            <div class="flex h-64 bg-white shadow-md rounded w-full">
                <div class="w-32 h-full">
                    <img class="rounded-l object-cover w-full h-full" src="https://placekitten.com/300/200" />
                </div>
                <div class="text-left mb-2 md:mb-6 w-full px-8 py-6">
                    <h3 class="font-serif text-xl mb-6">{{ .Title }}</h3>
                    <p class="font-sans text-sm text-gray-700 mb-2 md:mb-6 overflow-hidden">Nullam accumsan lorem in dui. Etiam
                        iaculis nunc ac metus. Phasellus tempus. Pellentesque malesuada fames ac turpis egestas.</p>
                    <a href="#" class="text-sm text-primaryDarker hover:text-primaryDarkest font-serif">Read More &rarr;</a>
                </div>
            </div>
            <div class="flex h-64 bg-white shadow-md rounded w-full">
                <div class="w-32 h-full">
                    <img class="rounded-l object-cover w-full h-full" src="https://placekitten.com/300/200" />
                </div>
                <div class="text-left mb-2 md:mb-6 w-full px-8 py-6">
                    <h3 class="font-serif text-xl mb-6">{{ .Title }}</h3>
                    <p class="font-sans text-sm text-gray-700 mb-2 md:mb-6 overflow-hidden">Nullam accumsan lorem in dui. Etiam
                        iaculis nunc ac metus. Phasellus tempus. Pellentesque malesuada fames ac turpis egestas.</p>
                    <a href="#" class="text-sm text-primaryDarker hover:text-primaryDarkest font-serif">Read More &rarr;</a>
                </div>
            </div>
            <div class="flex h-64 bg-white shadow-md rounded w-full">
                <div class="w-32 h-full">
                    <img class="rounded-l object-cover w-full h-full" src="https://placekitten.com/300/200" />
                </div>
                <div class="text-left mb-2 md:mb-6 w-full px-8 py-6">
                    <h3 class="font-serif text-xl mb-6">{{ .Title }}</h3>
                    <p class="font-sans text-sm text-gray-700 mb-2 md:mb-6 overflow-hidden">Nullam accumsan lorem in dui. Etiam
                        iaculis nunc ac metus. Phasellus tempus. Pellentesque malesuada fames ac turpis egestas.</p>
                    <a href="#" class="text-sm text-primaryDarker hover:text-primaryDarkest font-serif">Read More &rarr;</a>
                </div>
            </div>

        </div>
    </section>
{{ end }}
{{ define "footer"}}{{ partial "footer" . }}{{ end }}