{{ define "header" }}{{ partial "header" }}{{end}}
{{ define "main" }}
    <article class="container py-12 md:py-20 lg:py-24" style="margin-bottom: -100px;">
        <section class="text-center z-0">
            <h1 class="font-serif text-3xl sm:text-5xl m-auto leading-tight max-w-xl">{{ .Title }}</h1>
            <p class="font-sans date text-gray-900 text-xs sm:text-sm mt-3">{{ .Params.date.Format "January 2, 2006" }}</p>
            
            <div class="w-auto mb-32 sm:mb-0 mt-10 lg:mx-12 h-32 sm:h-104 shadow-md box-border animate__animated animate__fadeIn">
                <img class="object-cover rounded w-full h-full" src="{{ .Params.thumbnail }}" />
            </div>
            <section class="font-sans container rounded text-sm sm:text-base text-left text-gray-900 bg-white shadow-md h-100 mx-0 sm:mx-16 lg:mx-32 py-8 lg:py-16 px-8 sm:px-12 lg:px-24 z-10 w-auto leading-normal animate__animated animate__fadeIn" style="transform: translateY(-100px);">
                {{ .Params.body }}
                <em class="font-serif text-gray-700 text-sm mb-8 block">Curabitur blandit mollis lacus. Proin sapien ipsum, porta a, auctor quis, euismod ut, mi. Etiam iaculis nunc ac metus. Proin magna. Maecenas vestibulum mollis diam.</em>

                <h2 class="font-serif text-3xl text-tertiary">Lorem Ipsum</h2>
                <p class="my-3">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
                sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima
                veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis
                autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem
                eum fugiat quo voluptas nulla pariatur?</p>
                
                <p class="my-3">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                voluptatem sequi nesciunt.</p>
                    
                <blockquote class="font-serif my-6 border-primary border-solid border-l-4 pl-6 py-2 ml-1 text-primaryDarker">"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
                corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui
                officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita
                distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
                placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut
                officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
                Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut
                perferendis doloribus asperiores repellat."</blockquote>
                    
                <h3 class="font-serif text-2xl text-tertiaryLighter">Lorem Ipsum</h3>
                <p class="my-3">On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the
                charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to
                ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying
                through shrinking from toil and pain. <a href="https://google.com" class="underline text-primaryDarker hover:text-primaryDarkest">Click here, I'm a link</a>. These cases are perfectly simple and easy to distinguish. In a free hour, when our
                power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to
                be welcomed and every pain avoided. But in certain circumstances and owing to the claims of duty or the obligations of
                business it will frequently occur that pleasures have to be repudiated and annoyances accepted. The wise man therefore
                always holds in these matters to this principle of selection: he rejects pleasures to secure other greater pleasures, or
                else he endures pains to avoid worse pains.</p>

                {{ highlight `<?php 

namespace App;

public class Testing
{   
    private $example;

    /**
     * The class constructor
     */
    public function __construct()
    {
        $this->example = "testing";
    }
}` "php" "" }}

            <code class="text-xs sm:text-base py-4 px-6 bg-gray-200 text-gray-900 rounded w-auto h-full block overflow-x-scroll"><pre class="block">docker log -ft --tail 1000 aem 2>&1 | grep "product"</pre></code>
            </section>
        </section>
    </article>

    {{ $related := .Site.RegularPages.Related . | first 3 }}
    Number of related pages: {{ len $related }}.<br>
    {{ with $related }}
        <section class="container text-center pb-12">
            <h2 class="font-serif text-3xl mb-8">Related Articles</h2>
            <div class="w-full mb-6 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
                {{ range . }}
                    {{ partial "articleCard" . }}
                {{ end }}
            </div>
        </section>
    {{ end }}
{{ end }}

{{ define "footer"}}{{ partial "footer" . }}{{ end }}