{{ define "main" }}

    <div class="absolute right-0 bottom-0 h-auto opacity-25" style="z-index: -10;">
        <svg width="645" height="553" viewBox="0 0 645 553" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g opacity="0.2">
            <path d="M233.572 354.769L0 552.5H300.872L233.572 354.769Z" fill="#2f170d"/>
            <path d="M344.42 550.413L268.41 324.509L642.916 550.413H344.42Z" fill="#f1a470"/>
            <path d="M642.916 304.684H304.039L642.916 511.284V304.684Z" fill="#4e2615"/>
            <path d="M644.5 273.902H335.71L644.5 0V273.902Z" fill="#f27918"/>
            </g>
        </svg>
    </div>

    <article class="z-10">
        <section class="container mt-12 md:mt-20 sm:flex justify-between items-center xl:items-start">
            <div class="my-6">
                <h1 class="font-serif text-3xl sm:text-5xl leading-tight w-full text-tertiaryDarkest mb-6">Hi, my name is Craig Childs!</h1>
                <h2 class="font-serif text-xl sm:text-3xl leading-tight text-tertiary">I'm a Full-Stack Web Developer from the UK</h2>
            </div>

            <div class="hidden sm:block lg:w-1/4 animate__animated animate__zoomIn">
                <img class="shadow-lg rounded-full" src="{{ "/media/avatar.jpeg" | relURL }}"/>
            </div>
        </section>

        <section class="container font-sans leading-normal text-gray-900 mt-20 lg:mt-10 index-content-offset">
            <div class="sm:max-w-3xl bg-white shadow-md rounded p-12">
                <p class="text-xl">Quisque rutrum. Aenean tellus metus, bibendum sed, posuere ac, mattis non, nunc. Praesent egestas neque eu enim. Quisque ut nisi.</p>
            </div>
        </section>
    </article>

{{ end }}
