{{ define "main" }}

    <div class="absolute right-0 bottom-0 h-auto">
        <svg width="645" height="553" viewBox="0 0 645 553" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g opacity="0.2">
            <path d="M233.572 354.769L0 552.5H300.872L233.572 354.769Z" fill="#6666CC"/>
            <path d="M344.42 550.413L268.41 324.509L642.916 550.413H344.42Z" fill="#4949C2"/>
            <path d="M642.916 304.684H304.039L642.916 511.284V304.684Z" fill="#6666CC"/>
            <path d="M644.5 273.902H335.71L644.5 0V273.902Z" fill="#3939AB"/>
            </g>
        </svg>
    </div>

    <section class="container my-12 md:my-20 lg:my-24">
        <div class="my-6">
            <h1 class="font-serif text-3xl sm:text-5xl leading-tight w-full text-tertiaryDarkest mb-6">Hi, my name is Craig Childs!</h1>
            <h2 class="font-serif text-xl sm:text-3xl leading-tight text-tertiary">I'm a Full-Stack Web Developer from the UK</h2>
        </div>
    </section>

{{ end }}
